body {
    background: #FBF4EF;
    font-family:cursive;
    margin: 100;
}

#title {
    text-align: center;
    color: #6C4D52;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 2px;
    margin: 10px;
    padding-inline: 10px;
}

.top-buttons a {
    text-decoration: none;
}

.home-box {
    
    background-color:#E7F0FF;
    height: 690px;
    margin: 5px;
    padding-inline: 26px;
    padding-top: 2px;
    border-radius: 50px;
}

#line {
    width: 400px;
    margin-left: 0;
    color: #6C4D52;
}


