/*body styles*/
body {
    background: #FBF4EF;
    font-family:cursive;
    margin: 100;
}

.home-box {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;

    background-color:#C5CBC7;
    height: auto;
    margin: 5px;
    padding: 40px 60px;
    border-radius: 50px;
    box-sizing: border-box;
}

/*title styles*/
#title {
    width: 300px;
    margin: auto;
    background: linear-gradient(to right, #004551 0%, #004551 33.33%, #BF8000 33.33%, #BF8000 66.66%, #B11401 66.66%, #B11401 100%);
    border-radius: 10px;
}

#title h2 {
    letter-spacing: 5px;
    text-align: center;
    color: #FBF4EF;
    font-size: 35px;
}

#titleLink {
    text-decoration: none;
    cursor: pointer;
}

/*nav styles*/
.top-buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.top-buttons a {
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size:25px;
}

#homebutton {
    background-color: transparent;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#gamebutton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 0 black;
}

#gamebutton {
    background-color: transparent;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#homebutton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 0 black;
}

#infobutton {
    background-color: transparent;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#infobutton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 0 black;
}